*{
    margin: 0;
    padding: 0;
}

/* .rec{
    background-color: rgb(50, 62, 220);
    color: aliceblue ;
   
    
   
} */

.badge-overlay {
  position: absolute;
  top: 203px;
 
  z-index: 1;
}

.bg-pink {
  background-color: #da6f95;
  color: rgb(249, 243, 243);
  padding: 5px 10px;
   border-top-right-radius: 10px;
 
  font-size: 0.8rem;
}
.card{
    height: 484px;
}

.card img{
    height: 229px;
}
.headingT{
    text-decoration: none;
    color: black;
}
.columns{
    height: 484px;
}
